---
layout: default
---


<div class="latest">
  {% for post in site.posts limit:2 %}

	  <div class="{{ post.type }}">
			{% if post.type == "external-link" %}
				<header>
					<span>Someone else's fine work &#9758;</span>
					<h3><a href="{{ post.link }}">{{ post.title | escape }}</a></h3>
				</header>
			{% else %}
	      <header>
	        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h3>
	      </header>
			{% endif %}
      {{ post.content }}
      <div class="meta">{{ post.date | date: "%B %-d, %Y" }}</div>
	  </div>

  {% endfor %}
</div>

<a href="/blog" class="button">Visit my blog for more</a>
