<footer>
  <nav>
    <a href="/about/" class="{% if page.url contains "/about/" %}current{% endif %}">About</a>
    <a href="/blog/" class="{% if page.url contains "/blog/" %}current{% endif %}">Blog</a>
  </nav>
  <nav class="sub-nav">
    <a href="mailto:{{ site.email }}">Email</a>
    <a href="/family-wishlists.html">Wishlists</a>
    <a href="/feed.xml">RSS</a>
    <a href="/atom.xml">Atom</a>
  </nav>
  <img src="/assets/site/apple.png" alt="Jake Apple Logo">
  <small>This stuff &copy; Jake Apple, I guess. Built mostly on <a href="http://mct.org/busServices/MCT_Wifi_removed.aspx">a bus</a>.</small>
</footer>
