---
layout: default
title: Blog
---
<main>
{% for post in paginator.posts %}

<article class="post {{ post.type }}">
  {% if post.type == "link" %}
    <header>
      <span>&star; Good stuff from the internets</span>
      <h1><a href="{{ post.link }}">{{ post.title | escape }}</a></h1>
    </header>
    {{ post.content }}
    <!-- <div class="meta">{{ post.date | date: "%B %-d, %Y" }}</div> -->
  {% elsif post.type == "linked-yt-video" %}
    <header>
      <span>&star; Good stuff from the internets</span>
      <h1><a href="{{ post.link }}">{{ post.title | escape }}</a></h1>
    </header>
    <div class="embed">
      <iframe src="https://www.youtube-nocookie.com/embed/{{ post.yt-id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  webkitAllowFullScreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    {{ post.content }}
    <!-- <div class="meta">{{ post.date | date: "%B %-d, %Y" }}</div> -->
  {% elsif post.type == "gallery" %}
    <header>
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h1>
      <!-- <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p> -->
    </header>
    {{ post.content }}
  {% else %}
    <header>
      <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></h1>
      <!-- <p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p> -->
    </header>
    {{ post.content }}
  {% endif %}
</article>

{% unless forloop.last %}
  <hr class="post-separator" />
{% endunless %}

{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<div class="paginator">
  <h4 class="paginator-title"><span class="paginator-arrow paginator-arrow-first">&#8623;</span> check out this time machine <span class="paginator-arrow">&#8623;</span></h4>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="button">Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="button">Older Posts</a>
  {% endif %}
  <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
</div>
{% endif %}
</main>
